---
layout: portfolio
---
<!-- Template for each carousel piece -->
<div class="piece">
  <div class="row">
    <div class="col-md-12 title">
      <h2>{{ page.title }}</h2>
      <h5>@ {{ page.company }}</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div id="{{ page.carousel_id }}" class="carousel slide">
        <!-- Indicator buttons -->
        <ol class="carousel-indicators">
          {% for name in page.images %}
            {% assign state = nil %}
            {% if forloop.index0 == 0 %}
              {% assign state = ' class="active"' %}
            {% endif %}
            <li data-target="#{{ page.carousel_id }}" data-slide-to="{{ forloop.index0 }}"{{ state }}></li>
            {% else %}
                // no images
          {% endfor %}
        </ol>
        <!-- Carousel items -->
        <div class="carousel-inner">
          {% for name in page.images %}
            {% assign state = nil %}
            {% if forloop.index == 1 %}
              {% assign state = 'active' %}
            {% endif %}
            <div class="{{ state }} item"><img src="{{ site.github.url }}/pages/{{ page.category }}/pieces/{{ name }}" /></div>
            {% else %}
                // no images
          {% endfor %}
        </div>
        <!-- Carousel nav -->
        <a class="carousel-control left" href="#{{ page.carousel_id }}" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#{{ page.carousel_id }}" data-slide="next">&rsaquo;</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="description">
        <p>{{ page.text }}</p>
      </div>
    </div>
  </div>
</div>
<hr class="decorative" />
