<!DOCTYPE html>
<!--[if lt IE 7 ]><html itemscope itemtype="http://schema.org/{% if page.id or post.id %}Article{% else %}Organization{% endif %}" id="ie6" class="ie ie-old" lang="en-US"><![endif]-->
<!--[if IE 7 ]>   <html itemscope itemtype="http://schema.org/{% if page.id or post.id %}Article{% else %}Organization{% endif %}" id="ie7" class="ie ie-old" lang="en-US"><![endif]-->
<!--[if IE 8 ]>   <html itemscope itemtype="http://schema.org/{% if page.id or post.id %}Article{% else %}Organization{% endif %}" id="ie8" class="ie ie-old" lang="en-US"><![endif]-->
<!--[if IE 9 ]>   <html itemscope itemtype="http://schema.org/{% if page.id or post.id %}Article{% else %}Organization{% endif %}" id="ie9" class="ie" lang="en-US"><![endif]-->
<!--[if gt IE 9]><!--><html itemscope itemtype="http://schema.org/{% if page.id or post.id %}Article{% else %}Organization{% endif %}" lang="en-US"><!--<![endif]-->

  {% include head.html %}

  <body>
    <div class="container-fluid">
      <div class="bg-dec2"></div>
      <div class="row allcontent">

        {% include header.html %}

        <div class="col-md-9 mainContent">

            {% comment %} LOGIC TO INCLUDE PORTFOLIO PIECES {% endcomment %}

            {% for piece in site.[page.category] %}
              {% assign i = forloop.index %}
              {% assign cat-url = page.url | split: '/' %}

              {% if cat-url[2] == nil %}
                {% if forloop.first == true %} {{ content }} {% endif %}
                {% if page.url != piece.url %} {% include piece.html %} {% endif %}
              {% else %}
                {% if page.url == piece.url %} {% include piece.html %} {% endif %}
              {% endif %}  
            {% endfor %}

        </div>
      </div>

      {% include footer.html %}

    </div>
    <script src="{{ site.github.url }}/assets/js/jquery-1.11.1.min.js"></script> <!-- JQUERY required for all scripts -->
    <script src="{{ site.github.url }}/assets/js/bootstrap-plus-jquery.touchSwipe.min.js"></script> <!-- required for carousel --> 
    <script src="{{ site.github.url }}/assets/js/erica-custom.js"></script> <!-- required for mobile menu and carousel -->  
  </body>
</html>
